.green{
    background-color: green;
}
.red{
    background-color: red;
}

.line{
    clear: both;
}

.cell{
    margin: 10px;
    width: 50px;
    height: 50px;
    float: left;
    padding: 50px;
}



input{
    margin: 1.5%;
    margin-left: 25%;
    width: 25%;
    height: 50%;
    float: left;
    border: 1px;
    border-style: solid;
}