<!DOCTYPE html>
<html>
<head>

    <title>server</title>
    <!-- <link rel="stylesheet" href="../../public/semantic/semantic.min.css"> -->
    <link rel="stylesheet" href="/assets/semantic/semantic.min.css" class="css">
    <style>
    main.container{
        margin-top: 7em;
    }
    </style>

</head>
<body>
<div class="ui fixed inverted menu">
<a href="/" class="header item">accueil</a>
</div>
<% if (locals.flash && locals.flash.error) { %>
    <div class="ui main container">
            <div class="ui negative messagge">
                <%= flash error %>
            </div>
            <% } %>
}

    <% if (locals.flash && locals.flash.success) { %>
        <div class="ui positive messagge">
                <%= flash.success %>
            </div>
            <% } %>
    }
