<% include header %>
<form action="/" method="post" class="ui form">
<div class="field">
<label for="message">message</label>
<textarea name="message" id="message"></textarea>
</div>

<button type="submit" class="ui blue labeled submit icon button">
<i class="icon edit"></i> Envoyer
</button>
</form>

<div class="ui comments">
    <h3 class="ui dividing header">commentaires </h3>
    <% for (message of messages) {%>
    <div class="comment "></div>
    <a class="avatar" href="/message<%= message.id%>">
        <img src="" alt="">
    </a>
    <div class="content">
        <div class="metadata"></div>
        <div class="date">
                <%= message.created_at.fromNow%>
        </div>
        <div class="test">
             <%= message.content%>
        </div>
    </div>
        <% } %>
</div>

<% include footer %>
