.green{
    background-color: green;
}
.red{
    background-color: red;
}

.table{

}

.row{
    clear: both;
}
.section{
    clear: both;
}
.flex-container {
    display: flex;
  }

.cell{
    margin: 10px;
    width: 50px;
    height: 50px;
    float: left;
    padding: 50px;
}

.column-nowrap{
        margin: 10px;
        width: 50px;
        height: 50px;
        float: left;
        padding: 50px;
        flex-flow: column nowrap;
}
.column-wrap{
    margin: 10px;
    margin-left: 500px;
    width: 50px;
    height: 50px;
    float: left;
    padding: 50px;
    flex-flow: column wrap;
}
.column-wrap-reverse{
    margin: 10px;
    margin-left: 1200px;
    width: 20px;
    height: 20px;
    float: left;
    padding: 30px;
    flex-flow: column wrap-reverse;
}
.row-nowrap{
    margin: 10px;
    margin-left: 190px;
    width: 30px;
    height: 30px;
    float: left;
    padding: 90px;
    flex-flow: row nowrap; 
}